.TestListItem > * {
    margin: 0.5em 0;
}

.TestListItem > :not(.widget-container) {
    font-size: 12px;
}

.TestListItem > :not(.widget-container) h2 {
    font-size: 18px;
}

.TestListItem > :not(.widget-container) code {
    color: blue;
}

.TestListItem > .attributes-container {
    font-size: 12px;
    color: grey;
}

.TestListItem > .attributes-container .widget-id:before {
    content: "widgetId:";
    margin-right: 0.5ex;
}

.TestListItem > .attributes-container .widget-entity-key:before {
    content: "entityKey:";
    margin-right: 0.5ex;
}

.TestListItem > .widget-container {
    margin: 0.5em 0;
}

.TestListItem > .widget-container > .sample-widget {
    border: 2px dashed red;
}

.TestListItem > .hint-container:before {
    content: "hint:";
    margin-right: 0.5ex;
}

.TestListItem > .widget-container * {
    vertical-align: top;
}

.TestListItem > .widget-container input.input-invalid {
    color: red;
}

.TestListItem > .widget-container input + label,
.TestListItem > .widget-container label + input,
.TestListItem > .widget-container label + textarea,
.TestListItem > .widget-container label + select {
    margin: 0 0 0 0.5em;
}

.TestListItem .TextInput.input-invalid {
    color: red;
}
