body {
    margin: 0;
}

.TestPage {
    padding: 10px;
    background-color: lightgray;
    font-family: Arial, sans-serif;
}

.TestPage .ClickArea {
    height: 30px;
}

.TestPage .Image {
    box-sizing: border-box;
    max-width: 100%;
}